.principal
{
  min-height: 100vh;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}

  h1
  {
    text-align: center;
  }



  .item-ticket
{
    padding: 1rem;
    background-color: #eeeeee;
    margin-bottom: 1rem;
    border: 5px solid black
}

.titulo-ticket
{
    padding: 0.5rem;
    margin: 0px;
    font-size: 17px;
    text-align: left;
    font-family: Text-drawed;
    color: #8f4141;
}

.asunto-ticket, .actualizacion-ticket, .estado-ticket
{
    padding: 0.5rem;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
    font-size: 16px;
    text-align: left;
    font-family: Text-drawed;
}

.valor-comentario-ticket, .valor-asunto-ticket, .valor-actualizacion-ticket, .valor-estado-ticket
{
    font-weight: 600;
}

.item-ticket:hover
{
    background-color: #d8d8d8;
    transition: background-color 1s ;
}
.test {
  margin: auto;
  max-width: 80%;
  opacity: 90%;
  height: 500px;
  overflow-y: auto;
  padding: 2rem;
  
}
.total
{
    padding: 30px;
    background-image: url("../../../assets/imggrand.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
button
{
  margin-right: 10px;
  min-width: 0%;
}
span
{
  font-size: 2rem;
  display: block;
}
