<div class="total">
  <mat-card class="test">
    <h1>TICKETS</h1>
    <mat-card class="item-ticket">
      <div class="col mx-0">
          <p class="titulo-ticket">
              <label class="valor-comentario-ticket">Necesito que me den bola urgentemente y hacer algo al respecto...</label>
          </p>
      </div>
      <div class="col mx-0">
          <p class="asunto-ticket">
              Asunto -  <label class="valor-asunto-ticket">Dar de baja</label>
          </p>
      </div>
      <div class="col mx-0">
          <p class="actualizacion-ticket">
              Últ. actualización - <label class="valor-actualizacion-ticket">10/02/2021</label>
          </p>
      </div>
      <div class="col mx-0">
          <p class="estado-ticket">
              Estado - <label class="valor-estado-ticket">Resuelto</label>
          </p>
      </div>
  </mat-card>
</mat-card>
</div>