.general
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
h1
{
    font-family: 'miFuente';
    color: orange;
    word-wrap: break-word;
    font-size: 4rem;
    text-align: center;
}
@font-face
{
    font-family: 'miFuente';
    src: url(../../../super.ttf);
}   
@media (max-width:600px)
{
    h1
    {
        font-size: 2.5rem;
    }
}
.div
{
    min-height: 100vh;
}